<app-navbar [cartLength]="cartLength"></app-navbar>
<app-header [title]="title" [subtitle]="subtitle"></app-header>
<!-- product cart list -->
<hr>
<div class="container" *ngIf="list">
  <button class="btn btn-primary" (click)="removeData()">Remove Items</button>
      <!-- table list products -->
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Subtotal</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let product of listFormated">
            <th scope="row">{{product.id}}</th>
            <td>{{product.name}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.price}}</td>
            <td>{{product.subtotal}}</td>
            <td>
              <button class="btn btn-danger" (click)="removeProductById(product.id)">Remove</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="cart-total">Total: {{total}}</td>
            <td></td>
          </tr>
        </tfoot>
      </table>
      <br>

</div>
