<app-navbar [cartLength]="cartLength"></app-navbar>
<app-header [title]="title" [subtitle]="subtitle"></app-header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="
        row
        gx-4 gx-lg-5
        row-cols-2 row-cols-md-3 row-cols-xl-4
        justify-content-center
      ">
      <div class="col mb-5" *ngFor="let item of products">
        <div class="card h-100">
            <!-- Product image-->
            <img class="card-img-top img-lista" src="{{ item.picture }}" alt="imagen producto" />
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">{{ item.name }}</h5>
                    <!-- Product price-->
                    {{ item.price }}
                </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                    <input type="number" id="quantityInput" name="quantityInput" #quantityInput min="1" max="{{item.stock}}" class="m-2" value="1">
                  <button type="button" class="btn btn-outline-success mt-auto m-2" (click)="addProductCart(item._id, quantityInput.value)">
                        Add To Cart
                    </button><br>
                    <button type="button" class="btn btn-outline-dark mt-auto" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" (click)="findById(item._id)">
                        Details
                    </button>
                </div>
            </div>
        </div>
    </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="exampleModal"
tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
                Details
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div *ngIf="productDetails">
            <div class="row">
                <div class="col text-center">
                    <img src="{{productDetails.picture}}" class="img-detalles" alt="imagen producto">
                </div>
                <div class="col">
                  <div class="card">
                    <div class="card-header">
                      {{productDetails.name}}
                    </div>
                    <div class="card-body">
                      <p class="card-text">{{productDetails.description}}</p>
                      <hr>
                      <h5 class="fw-light">
                        {{productDetails.price}}
                      </h5>
                      Quantity: {{productDetails.stock}}
                    </div>
                  </div>
                </div>
            </div>
        </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                close
            </button>
            <!--
            <button type="button" class="btn btn-primary">
                Agregar Al Carrito
            </button>-->
        </div>
    </div>
</div>
</div>
